# Alegra

In [123]:

# ==========================================================================================================
# Librerias
import pandas as pd
import numpy as np
from psycopg2.extras import execute_values
import sqlalchemy
from sqlalchemy.orm import sessionmaker
from datetime import datetime
import sqlite3
import psycopg2

Primero debemos explorar que datos tenemos entender el negocio para poder dimensionar y diseñar los diagramas

In [3]:
customers=pd.read_csv('customers.csv')
invoices=pd.read_csv("invoices.csv")
products=pd.read_csv("products.csv")

In [4]:
customers

     ID          Nombre  Ubicacion Segmento
0     1       José Cruz     Puebla  Pequeño
1     2     Juan García     Mérida  Pequeño
2     3   Manuel García  Querétaro   Grande
3     4  Pedro González     Cancún  Mediano
4     5   Jorge Ramírez    Morelia  Mediano
..  ...             ...        ...      ...
95   96  Fernando Pérez  Querétaro  Mediano
96   97  Carlos Sánchez     Mérida  Mediano
97   98      Jorge Cruz     Puebla  Pequeño
98   99     Pedro López     Mérida  Pequeño
99  100  Manuel Sánchez  Querétaro  Mediano

[100 rows x 4 columns]

In [8]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         100 non-null    int64
 1   Nombre     100 non-null    object
 2   Ubicacion  100 non-null    object
 3   Segmento   100 non-null    object
dtypes: int64(1), object(3)
memory usage: 3.3+ KB

In [5]:
invoices

       ID       Fecha  ClienteID  ProductoID  Cantidad       Total
0       1  2023-11-10         62          24         6  313.919262
1       2  2023-04-05         10          32        10  486.309567
2       3  2023-08-11         14          48         1  757.897335
3       4  2023-01-31        100           7         8  425.861996
4       5  2023-12-30         66          20         6  744.707969
..    ...         ...        ...         ...       ...         ...
995   996  2023-07-03         23          47         4  196.445148
996   997  2023-04-07         87          34         1  285.749670
997   998  2023-11-06         49          21         3  734.303111
998   999  2023-06-22         99          50         4  982.086958
999  1000  2023-04-12         70          39         6  469.665060

[1000 rows x 6 columns]

In [19]:
invoices.ID.nunique()

1000

In [23]:
invoices.groupby(['Fecha',"ClienteID"]).ID.count().sort_values(ascending=False)

Fecha       ClienteID
2023-09-29  59           2
2023-10-05  49           2
2023-04-09  15           2
2023-08-04  8            2
2023-08-28  57           1
                        ..
2023-05-05  39           1
            49           1
            98           1
2023-05-06  33           1
2023-12-31  86           1
Name: ID, Length: 996, dtype: int64

In [24]:
invoices[(invoices['Fecha']=="2023-09-29")  & (invoices['ClienteID']==  59)]

      ID       Fecha  ClienteID  ProductoID  Cantidad       Total
632  633  2023-09-29         59          21        10  309.161292
941  942  2023-09-29         59          19        10  519.193620

In [9]:
invoices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          1000 non-null   int64
 1   Fecha       1000 non-null   object
 2   ClienteID   1000 non-null   int64
 3   ProductoID  1000 non-null   int64
 4   Cantidad    1000 non-null   int64
 5   Total       1000 non-null   float64
dtypes: float64(1), int64(4), object(1)
memory usage: 47.0+ KB

In [14]:
invoices[invoices['ClienteID']==1].sort_values(by='Fecha')

      ID       Fecha  ClienteID  ProductoID  Cantidad       Total
444  445  2023-01-19          1          38         2  599.658130
877  878  2023-02-10          1          17         8  791.055497
378  379  2023-03-28          1          21         7  667.923517
225  226  2023-03-31          1          20         9  762.767454
919  920  2023-04-30          1          35         1  356.596227
725  726  2023-06-02          1          17         1  875.287983
121  122  2023-06-28          1           2         9  876.188808
458  459  2023-07-07          1          33        10  725.047453
364  365  2023-07-18          1          21         2  470.868980
890  891  2023-10-22          1          24         6  555.773608
984  985  2023-10-23          1          40         4  336.388163
428  429  2023-11-10          1          45         9  298.772153
175  176  2023-12-02          1          27         6  130.608138

In [15]:
invoices[invoices['ClienteID']==13].sort_values(by='Fecha')

      ID       Fecha  ClienteID  ProductoID  Cantidad       Total
528  529  2023-01-25         13          30         9  590.256825
6      7  2023-02-22         13          16         1  122.842893
240  241  2023-02-25         13          38         1  107.400016
770  771  2023-03-15         13          16         8  363.868386
925  926  2023-04-17         13          19         1  817.662784
35    36  2023-05-16         13          24         6  370.749273
992  993  2023-06-11         13          49         4  689.218665
447  448  2023-07-16         13           9         5  552.453242
353  354  2023-09-09         13          32         8  586.668642
133  134  2023-11-18         13          25         4  822.993305
413  414  2023-12-11         13          42         2  415.959721

In [6]:
products

    ID           Nombre    Categoria      Precio
0    1  Prod_HWCBYIXTYM      Juguete   17.722463
1    2  Prod_NZRFVMLYWH        Hogar  369.635399
2    3  Prod_OMPHLJZNSU      Juguete   26.243944
3    4  Prod_UQQFIRAGRU        Hogar  441.161056
4    5  Prod_YYIDGYPEHD      Juguete  145.422205
5    6  Prod_UOZYIWFAYY  Electrónica   92.993005
6    7  Prod_UEAEXMZDAI         Ropa  281.674304
7    8  Prod_XOVJGEFIJC      Juguete  402.268420
8    9  Prod_CZQYGEQIMV  Electrónica  472.158900
9   10  Prod_YQVGCPUEWG      Juguete  395.768617
10  11  Prod_IYWEMHLEMR      Juguete  409.319122
11  12  Prod_QMGPITLWBX         Ropa   12.479185
12  13  Prod_BFPFMJBSFE        Hogar   67.098148
13  14  Prod_OPCLTJCDYB        Hogar  215.062390
14  15  Prod_XYDCSXVHJG         Ropa  474.852943
15  16  Prod_DOFKDYCMVQ         Ropa   12.287792
16  17  Prod_YFTDKIZRRM  Electrónica  243.695263
17  18  Prod_ZVIEXMGKYB         Ropa   29.125668
18  19  Prod_FOXCKYLOST        Hogar  176.855858
19  20  Prod_WOWMPKEDCC         Ropa  122.214685
20  21  Prod_BPGAGWCVIE  Electrónica   97.180176
21  22  Prod_EFTOMXJZSK  Electrónica   76.941171
22  23  Prod_XCWPENGDVY      Juguete  417.874806
23  24  Prod_XPYBZUYJHV        Hogar  440.864635
24  25  Prod_XYOAZZQZPJ         Ropa  449.410129
25  26  Prod_VBZAVXXQSW        Hogar  273.783856
26  27  Prod_OMFAITWTMF  Electrónica  175.281997
27  28  Prod_AGLFJTILKD        Hogar  161.938770
28  29  Prod_KPAJQTTKYX  Electrónica  493.673217
29  30  Prod_LHJGILAURC      Juguete  427.617151
30  31  Prod_DNMZDUBAZU         Ropa   31.224313
31  32  Prod_IFIPPFQPDQ         Ropa  215.028621
32  33  Prod_THSVBECEFN        Hogar  177.253115
33  34  Prod_VOLCAVCKJI  Electrónica  401.339502
34  35  Prod_TJGBHEOQQJ      Juguete   47.076705
35  36  Prod_KBPAKAERJL         Ropa  191.671771
36  37  Prod_TVBPMNCHAG      Juguete  116.454683
37  38  Prod_UJHVHXSPQU        Hogar  387.307508
38  39  Prod_CJFSAQJSZG  Electrónica   47.182340
39  40  Prod_SBTCZEVNCJ      Juguete  270.348370
40  41  Prod_JVTCZYDHCR         Ropa  454.413594
41  42  Prod_DCGOXRQOVX  Electrónica  231.707329
42  43  Prod_IOBZOJAXRK      Juguete  362.435539
43  44  Prod_VKWGTFQGKW        Hogar   82.774962
44  45  Prod_NIEJWDETMP      Juguete  117.106939
45  46  Prod_TJXCYIJUAL      Juguete  448.854631
46  47  Prod_HXWTYSFQYD  Electrónica  408.631269
47  48  Prod_QXZAIYFZUT         Ropa  308.293501
48  49  Prod_ARHXBTGOMR      Juguete  366.029953
49  50  Prod_EQFOYWAPPZ         Ropa   32.760012

In [10]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         50 non-null     int64
 1   Nombre     50 non-null     object
 2   Categoria  50 non-null     object
 3   Precio     50 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.7+ KB

## Extract

In [37]:

# Definir la función extract para leer archivos CSV
def extract(file_path):
    return pd.read_csv(file_path)

In [86]:
def check_validacion_data(df:pd.DataFrame) ->bool:
    # Check Vacio
    if df.empty:
        print("no data")
        return False
    # Check Llave primaria
    if pd.Series(df['ID']).is_unique:
        pass
    else:
        raise Exception("Primary key duplicada")
    # check nulos
    if df.isnull().values.any():
        raise Exception("Nulos Detectados")
    else:
        print("Proceso De validacion completado")

In [112]:
# Extraer datos de los archivos CSV
customers = extract(r"C:\Users\FranciscoSepulveda\Desktop\Alegra\customers.csv")
invoices = extract(r"C:\Users\FranciscoSepulveda\Desktop\Alegra\invoices.csv")
products = extract(r"C:\Users\FranciscoSepulveda\Desktop\Alegra\products.csv")

In [113]:
check_validacion_data(customers)
check_validacion_data(invoices)
check_validacion_data(products)

Proceso De validacion completado
Proceso De validacion completado
Proceso De validacion completado

## Creando las Tablas !

In [55]:
with open(r"C:\Users\FranciscoSepulveda\Desktop\Alegra\Pass.txt") as f:
    pwd= f.read()

In [220]:
import psycopg2

host = "localhost"
port = "5432"  # Puerto predeterminado para PostgreSQL
database = "Alegra"  # Nombre de la base de datos
user = "postgres"  # Nombre de usuario de PostgreSQL
password = pwd  # Contraseña de PostgreSQL

try:
    # Establecer la conexión a la base de datos
    conn = psycopg2.connect(
        host=host,
        port=port,
        dbname="Alegra",
        user=user,
        password=pwd
    )
    print("¡Conexión exitosa a la base de datos PostgreSQL!")

    # Aquí puedes realizar operaciones en la base de datos, como ejecutar consultas SQL

except psycopg2.Error as e:
    print("Error al conectarse a la base de datos PostgreSQL:", e)

¡Conexión exitosa a la base de datos PostgreSQL!

In [219]:
conn.close()

### Customers -> Clientes

In [92]:
with conn.cursor() as cur:
        cur.execute("""
            CREATE TABLE IF NOT EXISTS clientes (
                ID SERIAL PRIMARY KEY,
                Nombre VARCHAR(100),
                Ubicacion VARCHAR(100),
                Segmento VARCHAR(100)
            )
        """)
        conn.commit()
        print("¡Tabla 'clientes' creada exitosamente!")

¡Tabla 'clientes' creada exitosamente!

### Products -> Productos

In [93]:
with conn.cursor() as cur:
        cur.execute("""
            CREATE TABLE IF NOT EXISTS productos (
                ID SERIAL PRIMARY KEY,
                Nombre VARCHAR,
                Categoria VARCHAR,
                Precio DECIMAL(10, 2)  -- DECIMAL con 10 dígitos en total y 2 dígitos decimales
            )
        """)
        conn.commit()
        print("¡Tabla 'Productos' creada exitosamente!")

¡Tabla 'Productos' creada exitosamente!

### Invoices -> Facturas

In [106]:
with conn.cursor() as cur:
        cur.execute("""
            CREATE TABLE IF NOT EXISTS facturas (
                ID SERIAL PRIMARY KEY,
                ClienteID INT,
                Fecha TIMESTAMP,
                FOREIGN KEY (ClienteID) REFERENCES clientes(ID)
            )
        """)
        conn.commit()
        print("¡Tabla 'Facturas' creada exitosamente!")

¡Tabla 'Facturas' creada exitosamente!

### Detalle_facturas

In [246]:
with conn.cursor() as cur:
        cur.execute("""
            CREATE TABLE IF NOT EXISTS detalle_facturas (
                FacturaID INT, 
                ProductoID INT,
                Cantidad INT ,
                FOREIGN KEY (FacturaID) REFERENCES facturas(ID),
                FOREIGN KEY (ProductoID) REFERENCES productos(ID)
                
                
            )
        """)
        conn.commit()
        print("¡Tabla 'detalle_facturas' creada exitosamente!")

¡Tabla 'detalle_facturas' creada exitosamente!

## Transform !

In [184]:
def clean_invoice (df):
    df=df.drop(columns='Total')
    facturas=df[['ID','Fecha','ClienteID']]
    detalle_facturas=df[['ID','ProductoID','Cantidad']]
    detalle_facturas.rename(columns={'ID':'FacturaID'},inplace=True)
    
    return facturas,detalle_facturas

In [185]:
facturas,detalle_facturas=clean_invoice(invoices)

C:\Users\FranciscoSepulveda\AppData\Local\Temp\ipykernel_3408\2421292754.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  detalle_facturas.rename(columns={'ID':'FacturaID'},inplace=True)

In [189]:
facturas

       ID       Fecha  ClienteID
0       1  2023-11-10         62
1       2  2023-04-05         10
2       3  2023-08-11         14
3       4  2023-01-31        100
4       5  2023-12-30         66
..    ...         ...        ...
995   996  2023-07-03         23
996   997  2023-04-07         87
997   998  2023-11-06         49
998   999  2023-06-22         99
999  1000  2023-04-12         70

[1000 rows x 3 columns]

In [190]:
detalle_facturas

     FacturaID  ProductoID  Cantidad
0            1          24         6
1            2          32        10
2            3          48         1
3            4           7         8
4            5          20         6
..         ...         ...       ...
995        996          47         4
996        997          34         1
997        998          21         3
998        999          50         4
999       1000          39         6

[1000 rows x 3 columns]

In [192]:
facturas['ID'].isin(detalle_facturas['FacturaID'].to_list()).value_counts()

True    1000
Name: ID, dtype: int64

In [193]:
detalle_facturas['ProductoID'].isin(products['ID'].to_list()).value_counts()

True    1000
Name: ProductoID, dtype: int64

In [194]:
products['ID'].isin(detalle_facturas['ProductoID'].to_list()).value_counts()

True    50
Name: ID, dtype: int64

## LOAD

### Clientes

In [126]:
def insertdata_clientes(df):

        # Configuración de la conexión a la base de datos local de PostgreSQL
    host = "localhost"
    port = "5432"  # Puerto predeterminado para PostgreSQL
    database = "Alegra"  # Nombre de la base de datos
    user = "postgres"  # Nombre de usuario de PostgreSQL
    password = pwd  # Contraseña de PostgreSQL

    conn = psycopg2.connect(
        host=host,
        port=port,
        dbname="Alegra",
        user=user,
        password=pwd
    )
    
    with conn.cursor() as cur:
        try:
            execute_values(
                cur,
                '''
                    INSERT INTO clientes (ID, Nombre, Ubicacion, Segmento)
                    VALUES %s
                    ''',
                    [tuple(row) for row in df.to_numpy()],
                    #data,
                    page_size=len(df)
                )
            print("Ejecucion Exitosa!")
            conn.commit()
            conn.close()
        except Exception as e:
            print("No es posible insertar datos")

In [128]:
insertdata_clientes(customers)

### Productos

In [129]:
def insertdata_productos(df):

        # Configuración de la conexión a la base de datos local de PostgreSQL
    host = "localhost"
    port = "5432"  # Puerto predeterminado para PostgreSQL
    database = "Alegra"  # Nombre de la base de datos
    user = "postgres"  # Nombre de usuario de PostgreSQL
    password = pwd  # Contraseña de PostgreSQL

    conn = psycopg2.connect(
        host=host,
        port=port,
        dbname="Alegra",
        user=user,
        password=pwd
    )
    
    with conn.cursor() as cur:
        try:
            execute_values(
                cur,
                '''
                    INSERT INTO productos (ID, Nombre, Categoria, Precio)
                    VALUES %s
                    ''',
                    [tuple(row) for row in df.to_numpy()],
                    #data,
                    page_size=len(df)
                )
            print("Ejecucion Exitosa!")
            conn.commit()
            conn.close()
        except Exception as e:
            print("No es posible insertar datos")

In [130]:
insertdata_productos(products)

Ejecucion Exitosa!

### Facturas

In [132]:
def insertdata_facturas(df):

        # Configuración de la conexión a la base de datos local de PostgreSQL
    host = "localhost"
    port = "5432"  # Puerto predeterminado para PostgreSQL
    database = "Alegra"  # Nombre de la base de datos
    user = "postgres"  # Nombre de usuario de PostgreSQL
    password = pwd  # Contraseña de PostgreSQL

    conn = psycopg2.connect(
        host=host,
        port=port,
        dbname="Alegra",
        user=user,
        password=pwd
    )
    
    with conn.cursor() as cur:
        try:
            execute_values(
                cur,
                '''
                    INSERT INTO facturas (ID, Fecha, ClienteID)
                    VALUES %s
                    ''',
                    [tuple(row) for row in df.to_numpy()],
                    #data,
                    page_size=len(df)
                )
            print("Ejecucion Exitosa!")
            conn.commit()
            conn.close()
        except Exception as e:
            print("No es posible insertar datos")

In [133]:
insertdata_facturas(facturas)

Ejecucion Exitosa!

### Detalle_facturas

In [240]:
from sqlalchemy import create_engine

# Crear motor de SQLAlchemy para la conexión con la base de datos
engine = create_engine('postgresql://postgres:1234@localhost:5432/Alegra')

In [249]:
from sqlalchemy import create_engine

def insertdata_detalle_facturas(df, engine):
    try:
        # Convertir valores de numpy.int32 a strings
        df['FacturaID'] = df['FacturaID'].astype(int)
        df['ProductoID'] = df['ProductoID'].astype(int)
        df['Cantidad'] = df['Cantidad'].astype(int)
        df.rename(columns={'FacturaID':'facturaid','ProductoID':'productoid','Cantidad':'cantidad'},inplace=True)

        # Insertar datos en la tabla detallefacturas
        df.to_sql("detalle_facturas", engine, if_exists='append', index=False)
        print("Datos insertados correctamente en la tabla 'detalle_facturas'")
    except Exception as e:
        print("Error al insertar datos en la tabla 'detallefacturas':", e)

In [250]:
insertdata_detalle_facturas(detalle_facturas, engine)

Datos insertados correctamente en la tabla 'detalle_facturas'

## Analisis !!!

In [251]:
invoices

       ID       Fecha  ClienteID  ProductoID  Cantidad       Total
0       1  2023-11-10         62          24         6  313.919262
1       2  2023-04-05         10          32        10  486.309567
2       3  2023-08-11         14          48         1  757.897335
3       4  2023-01-31        100           7         8  425.861996
4       5  2023-12-30         66          20         6  744.707969
..    ...         ...        ...         ...       ...         ...
995   996  2023-07-03         23          47         4  196.445148
996   997  2023-04-07         87          34         1  285.749670
997   998  2023-11-06         49          21         3  734.303111
998   999  2023-06-22         99          50         4  982.086958
999  1000  2023-04-12         70          39         6  469.665060

[1000 rows x 6 columns]

In [255]:
invoices['Fecha'] = pd.to_datetime(invoices['Fecha'])

In [256]:
invoices['Trimestre'] = invoices['Fecha'].dt.to_period('Q')

In [257]:
resultado = invoices.groupby(['ProductoID', 'Trimestre'])['Cantidad'].sum()

In [262]:
resultado_df = resultado.reset_index()

In [265]:
resultado_df.sort_values(by=['Trimestre', 'Cantidad'])

     ProductoID Trimestre  Cantidad
67           18    2023Q1         8
159          41    2023Q1        10
55           15    2023Q1        11
131          34    2023Q1        11
63           17    2023Q1        12
..          ...       ...       ...
78           20    2023Q4        40
66           17    2023Q4        42
70           18    2023Q4        43
130          33    2023Q4        44
7             2    2023Q4        56

[199 rows x 3 columns]

In [266]:
detalle_facturas

     facturaid  productoid  cantidad
0            1          24         6
1            2          32        10
2            3          48         1
3            4           7         8
4            5          20         6
..         ...         ...       ...
995        996          47         4
996        997          34         1
997        998          21         3
998        999          50         4
999       1000          39         6

[1000 rows x 3 columns]